selenium
webdriver-manager
requests
psutil
locust
memory-profiler
pytest
pytest-html
pytest-xdist
allure-pytest
pytest-reportlog
python-dotenv
black
flake8
pre-commit
fpdf
pandas
plotly
streamlit
langchain-groq
langchain-core
langchain-community
pypdf2